/* font */
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* index
/* header */
.index_header {width: 100%; height: 765px; color: #fff; padding-top: 2%; background: url(../img/header.png); background-size: cover;}
.index_header .top {position: relative; display: flex; justify-content: space-between; font-family: 'Poppins', sans-serif;}
.index_header p {color: white; margin-right: 79%; font-weight: bold; font-size: 22px;}
.index_header a {background-image: linear-gradient(105deg, rgb(193, 33, 47), rgb(241, 104, 53)); border-radius: 2rem; padding: 10px 30px; font-size: 16px;}
.index_header h1 {margin-top: 16%; line-height: 0.6; font-size: 8rem; font-family: 'Sulphur Point', sans-serif;}
.index_header h1 span {font-weight: 100; font-size: 4.5rem;}
a.btn {position: absolute; padding: 1rem 1.2rem; left: 50%; top: 77%; font-weight: bold; border-radius: 50%;}

/* contents */
#contents {background: #fff; padding-top: 10%; font-family: 'Poppins', sans-serif; position: relative;}

/* cont1 */
.cont1 {width: 100%; display: flex; flex-wrap: wrap;}
.cont1 .left {flex:1 1 20%; line-height: 1.3;}
.cont1 .left ul li span {font-weight: 500; font-size: 18px;}
.cont1 .left ul li.desc {padding-left: 16%; font-size: 15px;}
.cont1 .right {flex:1 1 70%; font-family: 'GmarketSansLight'; font-size: 19px; line-height: 1.4;}
.cont1 .bottom img {width: 300px; height: 300px; border-radius: 1rem; margin-top: 30%; margin-left: 220%;}
#cont1_1 img {position: absolute; top: -7%; right: 0; width: 25%;}
#cont1_2 img {position: absolute; top: 5%; left: 0; width: 15%;}
#cont1_3 img {position: absolute; top: 14%; left: 0; width: 23%;}

/* cont2 */
.cont2 {width: 100%; padding-top: 15%; display: flex;}
.cont2 .left {margin-left: 26%; flex:1 1 30%; line-height: 1.3;}
.cont2 .left .title {font-weight: 500; font-size: 18px;}
.cont2 .left .desc {padding-left: 36%; font-size: 15px;}
.cont2 .right {flex:1 1 70%;}
.cont2 .right ul {display: flex; margin-top: 1%;}
.cont2 .right li {padding-left: 6%;}
.cont2 .right li.m {padding-left: 5%;}
.cont2 .right li.g {padding-left: 0%;}
.cont2 .right ul li img {width: 80%;}

/* cont3 */
#cont3 {position: relative;}
#cont3 h2 {font-family: 'Sulphur Point', sans-serif; font-weight: 700; font-size: 10rem; text-align: center; color: #1B1C25; padding-top: 10%;}

/* cont_1 */
.cont3_1 {display: flex; height: 610px; margin-top: 8%; color: #fff; font-family: 'Poppins', sans-serif;}
.cont3_1 .left {background-image: url(../img/bg1.png); background-size: cover; width: 100%; height: 100%; flex: 1 1 50%; margin-top: -1.5%; display: flex; position: relative;}
.cont3_1 .left .tit_left {padding-left: 8%; flex: 1 1 30%;}
.cont3_1 .left .tit_left h3 {font-size: 3rem; line-height: 1; margin-top: 55%; font-family: 'Sulphur Point', sans-serif; font-weight: bold; line-height: 0.9;}
.cont3_1 .left .tit_left p {margin-top: 14%; font-size: 21px; letter-spacing: -1px;}
.cont3_1 .left .tit_left ul {margin-top: 5%;}
.cont3_1 .left .tit_left ul li {font-weight: 200; line-height: 1.4; font-size: 11px; letter-spacing: -0.3px;}
.cont3_1 .left .tit_right {flex: 1 1 70%;}
.cont3_1 .left .tit_right img {width: 90%; height: 60%; margin-top: 23%;}
.cont3_1 .left a {background-image: linear-gradient(105deg, rgb(193, 33, 47), rgb(241, 104, 53)); border-radius: 50%; padding: 10px 15px; position: absolute; top: 60%; font-weight: bold;}
.cont3_1 .right {background-image: url(../img/bg2.png); background-size: cover; width: 100%; height: 100%; flex: 1 1 50%; display: flex; position: relative; margin-top: 0.5%;}
.cont3_1 .right .tit_left {padding-left: 8%; flex: 1 1 30%;}
.cont3_1 .right .tit_left h3 {font-size: 3rem; line-height: 1; margin-top: 55%; font-family: 'Sulphur Point', sans-serif; font-weight: bold; line-height: 0.9;}
.cont3_1 .right .tit_left p {margin-top: 14%; font-size: 21px; letter-spacing: -1px;}
.cont3_1 .right .tit_left ul {margin-top: 5%;}
.cont3_1 .right .tit_left ul li {font-weight: 200; line-height: 1.4; font-size: 11px; letter-spacing: -0.3px;}
.cont3_1 .right .tit_right {flex: 1 1 70%;}
.cont3_1 .right .tit_right img {width: 90%; height: 60%; margin-top: 23%;}
.cont3_1 .right a {background-image: linear-gradient(105deg, rgb(193, 33, 47), rgb(241, 104, 53)); border-radius: 50%; padding: 10px 15px; position: absolute; top: 60%; font-weight: bold;}

/* cont3_2 */
.cont3_2 {display: flex; height: 610px; margin-top: -3%; color: #fff; font-family: 'Poppins', sans-serif;}
.cont3_2 .left {background-image: url(../img/bg3.png); background-size: cover; width: 100%; height: 100%; flex: 1 1 50%; margin-top: -1.5%; display: flex; position: relative; color: #000;}
.cont3_2 .left .tit_left {padding-left: 8%; flex: 1 1 30%;}
.cont3_2 .left .tit_left h3 {font-size: 3rem; line-height: 1; margin-top: 55%; font-family: 'Sulphur Point', sans-serif; font-weight: bold; line-height: 0.9; letter-spacing: -1.5px;}
.cont3_2 .left .tit_left p {margin-top: 14%; font-size: 21px; letter-spacing: -1px;}
.cont3_2 .left .tit_left ul {margin-top: 5%;}
.cont3_2 .left .tit_left ul li {font-weight: 200; line-height: 1.4; font-size: 11px; letter-spacing: -0.3px;}
.cont3_2 .left .tit_right {flex: 1 1 70%;}
.cont3_2 .left .tit_right img {margin-top: 10%; width: 90%; margin-left: 6%;}
.cont3_2 .left a {background-image: linear-gradient(105deg, rgb(193, 33, 47), rgb(241, 104, 53)); border-radius: 50%; padding: 10px 15px; position: absolute; top: 60%; font-weight: bold;}
.cont3_2 .right {background-image: url(../img/bg4.png); background-size: cover; width: 100%; height: 100%; flex: 1 1 50%; display: flex; position: relative; margin-top: 0.5%;}
.cont3_2 .right .tit_left {padding-left: 8%; flex: 1 1 30%;}
.cont3_2 .right .tit_left h3 {font-size: 3rem; line-height: 1; margin-top: 55%; font-family: 'Sulphur Point', sans-serif; font-weight: bold; line-height: 0.9;}
.cont3_2 .right .tit_left p {margin-top: 14%; font-size: 21px; letter-spacing: -1px;}
.cont3_2 .right .tit_left ul {margin-top: 5%;}
.cont3_2 .right .tit_left ul li {font-weight: 200; line-height: 1.4; font-size: 11px; letter-spacing: -0.3px;}
.cont3_2 .right .tit_right {flex: 1 1 70%;}
.cont3_2 .right .tit_right img {margin-top: 15%; width: 90%; margin-left: 6%;}
.cont3_2 .right a {background-image: linear-gradient(105deg, rgb(193, 33, 47), rgb(241, 104, 53)); border-radius: 50%; padding: 10px 15px; position: absolute; top: 60%; font-weight: bold;}

/* cont3_3 */
.cont3_3 {display: flex; height: 610px; margin-top: -3%; color: #fff; font-family: 'Poppins', sans-serif;}
.cont3_3 .left {background-image: url(../img/bg5.png); background-size: cover; width: 100%; height: 100%; flex: 1 1 50%; margin-top: -1.5%; display: flex; position: relative; color: #000;}
.cont3_3 .left .tit_left {padding-left: 8%; flex: 1 1 30%;}
.cont3_3 .left .tit_left h3 {font-size: 3rem; line-height: 1; margin-top: 55%; font-family: 'Sulphur Point', sans-serif; font-weight: bold; line-height: 0.9; letter-spacing: -1.5px;}
.cont3_3 .left .tit_left p {margin-top: 14%; font-size: 21px; letter-spacing: -1px;}
.cont3_3 .left .tit_left ul {margin-top: 5%;}
.cont3_3 .left .tit_left ul li {font-weight: 200; line-height: 1.4; font-size: 11px; letter-spacing: -0.3px;}
.cont3_3 .left .tit_right {flex: 1 1 70%;}
.cont3_3 .left .tit_right img {width: 90%; height: 60%; margin-top: 23%;}
.cont3_3 .left a {background-image: linear-gradient(105deg, rgb(193, 33, 47), rgb(241, 104, 53)); border-radius: 50%; padding: 10px 15px; position: absolute; top: 60%; font-weight: bold;}
.cont3_3 .right {background-image: url(../img/bg6.png); background-size: cover; width: 100%; height: 100%; flex: 1 1 50%; display: flex; position: relative; z-index: 1; margin-top: 0.44%;}
.cont3_3 .right .tit_left {padding-left: 8%; flex: 1 1 30%;}
.cont3_3 .right .tit_left h3 {font-size: 3rem; line-height: 1; margin-top: 55%; font-family: 'Sulphur Point', sans-serif; font-weight: bold; line-height: 0.9;}
.cont3_3 .right .tit_left p {margin-top: 14%; font-size: 21px; letter-spacing: -1px;}
.cont3_3 .right .tit_left ul {margin-top: 5%;}
.cont3_3 .right .tit_left ul li {font-weight: 200; line-height: 1.4; font-size: 11px; letter-spacing: -0.3px;}
.cont3_3 .right .tit_right {flex: 1 1 70%;}
.cont3_3 .right .tit_right img {width: 90%; height: 60%; margin-top: 23%;}
.cont3_3 .right a {background-image: linear-gradient(105deg, rgb(193, 33, 47), rgb(241, 104, 53)); border-radius: 50%; padding: 10px 15px; position: absolute; top: 60%; font-weight: bold;}
#ani img {position: absolute; right: 0; top: 97%; width: 35%;}

/* cont4 */
#cont4 h2 {font-size: 6rem; font-family: 'Sulphur Point', sans-serif; font-weight: bold; line-height: 0.9; letter-spacing: -2px; margin-top: 15%; color: #1B1C25;}
.cont4 {width: 100%; display: flex; flex-wrap: wrap;}
.cont4 .left {flex:1 1 20%; line-height: 1.3; margin-top: 8%;}
.cont4 .left ul li span {font-weight: 500; font-size: 18px;}
.cont4 .left ul li.desc {padding-left: 16%; font-size: 15px;}
.cont4 .right {flex:1 1 70%; font-family: 'GmarketSansLight'; font-size: 19px; line-height: 1.3; margin-top: 8%;}
.cont4 .bottom img {width: 300px; height: 300px; border-radius: 1rem; margin-top: 5%; margin-left: 260%;}

/* cont5 */
.cont5 {position: relative;}
.cont5 img {width: 100%; margin-top: -22%;}
.cont5 h3 {font-size:6rem; font-family: 'GmarketSansMedium'; position: absolute; top: 34%; color: #fff;}

/* cont6 */
.cont6 h2 {font-size: 6rem; font-family: 'Sulphur Point', sans-serif; font-weight: bold; color: #1B1C25; letter-spacing: -5px; text-align: center; margin-top: 10%;}
.cont6 form {display: block; box-sizing: border-box; display: block; margin-left: 15%; font-family: 'Sulphur Point', sans-serif;}
.cont6 input {border: 0; background-color: rgb(236, 233, 233); border-radius: 0.5rem; display: flex; flex-direction : column; outline: none; padding: 6% 0; font-size: 1rem;}        
.cont6 input.email {margin-bottom: 2%; padding: 1% 0;}
.cont6 button {border: 0; background-image: linear-gradient(105deg, rgb(193, 33, 47), rgb(241, 104, 53)); border-radius: 1rem; padding: 1% 38%; font-size: 1.5rem; text-transform: uppercase; color: #fff; margin-top: 2%; margin-bottom: 12%;}

/* footer */
#footer {width: 100%; height: 50px; background: #1B1C25; font-family: 'Sulphur Point', sans-serif;}
.footer {text-transform: uppercase; padding-top: 1.1%;}
.footer a {margin-right: 3%;}

/* site
/* header */
.header {width: 100%; height: 765px; color: #fff; padding-top: 2%; background: url(../img/header2.png); background-size: cover;}
.header .top {position: relative; display: flex; justify-content: space-between; font-family: 'Poppins', sans-serif;}
.header p {color: white; margin-right: 79%; font-weight: bold; font-size: 22px;}
.header a {background-image: linear-gradient(105deg, rgb(193, 33, 47), rgb(241, 104, 53)); border-radius: 2rem; padding: 10px 30px; font-size: 16px;}
.header h1 {margin-top: 16%; line-height: 0.7; font-size: 8rem; font-family: 'Sulphur Point', sans-serif;}
.header h1 span {font-weight: 100; font-size: 6rem;}
a.btn {position: absolute; padding: 1rem 1.2rem; left: 50%; top: 63%; font-weight: bold; border-radius: 50%;}
.header img {position: absolute; right: 0; width: 35%; top: 20%;}

/* content */
#content {position: relative;}
#content img {position: absolute; margin-top: -15%; right: 0; width: 28%;}
#content img.left {position: absolute; margin-top: 100%; left: 0; width: 25%;}
#content img.right {position: absolute; margin-top: 190%; right: 0; width: 28%;}
.content1 {display: flex;}
.content1 .cont_left {flex: 1 1 50%;}
.cont_left img {left: 0; margin-top: 60%; width: 90%;}
.content1 .cont_right {flex: 1 1 50%;}
.cont_right h3 {font-family: 'Sulphur Point', sans-serif; font-size: 6rem; font-weight: bold; text-align: right; padding-top: 12%; color:#0F2622;}
.cont_right_tit {margin-left: 9%;}
.cont_right_tit p {font-family: 'GmarketSansLight'; padding-top: 58.5%; font-size: 1.3rem;}
.btn {margin-top: 8%;}
.content1 .btn a {border: 1px solid #0F2622; background-color: #0F2622; border-radius: 5px; padding: 2% 5.5%; margin-top: 2%; margin-left: 3%; font-size: 1.3rem;}
.btn a:nth-child(1) {margin-left: 0;}

.content2 {display: flex; position: relative;}
.content2 .cont_right {flex: 1 1 50%;}
.content2 .cont_left {flex: 1 1 50%; margin-left: -100%;}
.content2 .cont_right img {position: absolute; right: 0; top: 55%; width: 45%;}
.content2 .cont_left h3 {margin-top: 20%; font-family: 'Sulphur Point', sans-serif; font-size: 6rem; font-weight: bold; color:#0F2622;}
.content2 .cont_left_tit {margin-top: 12%;}
.content2 .cont_left_tit p {font-family: 'GmarketSansLight'; font-size: 1.3rem;}
.content2 .cont_left_tit .btn {margin-top: 5%;}
.content2 .cont_left_tit a {padding: 1.2% 2.5%;}

.content3 {display: flex;}
.content3 .cont_left {flex: 1 1 50%;}
.content3 .cont_left img {left: 0; margin-top: 65%; width: 80%;}
.content3  .cont_right {flex: 1 1 50%;}
.content3 .cont_right h3 {font-family: 'Sulphur Point', sans-serif; font-size: 6rem; font-weight: bold; text-align: right; padding-top: 30%; color:#0F2622;}
.content3 .cont_right_tit {margin-left: 9%;}
.content3 .cont_right_tit p {font-family: 'GmarketSansLight'; padding-top: 46.5%; font-size: 1.3rem;}
.content3 .btn {margin-top: 8%;}
.content3 .btn a {border: 1px solid #0F2622; background-color: #0F2622; border-radius: 5px; padding: 2% 5.5%; margin-top: 2%; margin-left: 3%;}
.content3 .btn a:nth-child(1) {margin-left: 0;}

.content4 {display: flex; position: relative;}
.content4 .cont_right {flex: 1 1 50%;}
.content4 .cont_left {flex: 1 1 50%; margin-left: -100%;}
.content4 .cont_right img {position: absolute; right: 0; top: 50%; width: 45%;}
.content4 .cont_left h3 {margin-top: 20%; font-family: 'Sulphur Point', sans-serif; font-size: 6rem; font-weight: bold; color:#0F2622;}
.content4 .cont_left_tit {margin-top: 31%;}
.content4 .cont_left_tit p {font-family: 'GmarketSansLight'; font-size: 1.3rem;}
.content4 .cont_left_tit .btn {margin-top: 5%;}
.content4 .cont_left_tit a {padding: 1.2% 2.5%;}

/* footer */
.site_footer {position: relative; background-image: url(../img/s_footer.png); background-size: cover; height: 750px; margin-top: 30%;}
.site_footer img {position: absolute; left: 0; width: 35%; bottom: 0%;}
.site_footer h1 {color: #fff; text-align: right; font-size: 7.5rem; padding-top: 25%; font-family: 'Sulphur Point', sans-serif; line-height: 1;}
.site_footer a {background-image: linear-gradient(105deg, rgb(193, 33, 47), rgb(241, 104, 53)); position: absolute; padding: 1rem 1.2rem; right: 0%; bottom: 10%; font-weight: bold; border-radius: 50%;}
.site_footer ul {display: flex; color: #fff; font-family: 'Poppins', sans-serif; font-size: 1.5rem; font-weight: bold; margin-top: 10%;}
.site_footer ul li {margin-left: 6%;}
.site_footer ul li:first-child {margin-left: 0%;}
.site_footer ul li:last-child {font-size: 1.1rem; margin-top: 0.4%;}

/*script
/* header */
.script_header {width: 100%; height: 765px; color: #fff; padding-top: 2%; background: url(../img/header3.png); background-size: cover;}
.script_header .top {position: relative; display: flex; justify-content: space-between; font-family: 'Poppins', sans-serif;}
.script_header p {color: white; margin-right: 79%; font-weight: bold; font-size: 22px;}
.script_header a {background-image: linear-gradient(to top, rgb(193, 33, 47), rgb(241, 104, 53)); border-radius: 2rem; padding: 10px 30px; font-size: 16px;}
.script_header h1 {margin-top: 16%; line-height: 0.7; font-size: 8rem; font-family: 'Sulphur Point', sans-serif;}
.script_header h1 span {font-weight: 100; font-size: 6rem;}
a.btn {position: absolute; padding: 1.5rem 1.6rem; left: 50%; top: 63%; font-weight: bold; border-radius: 50%;}
.script_header img {position: absolute; right: 3%; width: 40%; top: 20%;}

/* cont1 */
.ani img.ani1 {position: absolute; right: 0; width: 30%; margin-top: -25%;}
.ani img.ani2 {position: absolute; left: 0; width: 30%; margin-top: 120%; width: 26%;}
.script_cont1 {display: flex; justify-content: space-between;}
.script_cont1 .left {flex: 1 1 35%;}
.script_cont1 .left h2 {font-family: 'Sulphur Point', sans-serif; font-size: 7rem; font-weight: bold; color: #323183;}
.script_cont1 .left p {font-family: 'GmarketSansLight'; font-size: 1.4rem; margin-top: 36%;}
.script_cont1 .left a {font-family: 'GmarketSansLight'; background-color: #323183; padding: 4% 11%; border-radius: 0.5rem; font-size: 1rem; font-weight: bold;}
.script_cont1 .left .btn {margin-top: 12%; display: flex; justify-content: space-between;}
.script_cont1 .right {flex: 1 1 60%; margin-left: 10%;}
.script_cont1 .right iframe {border-radius: 1rem; margin-top: 4%;}
.script_cont1 .right ul {margin-top: 2%;}
.script_cont1 .right ul li {float: left; margin-left: 2%; border: 1px solid #000; border-radius: 50%; padding: .2% 1.5%; font-family: 'Sulphur Point', sans-serif; font-size: 1.3rem; font-weight: bold;}
.script_cont1 .right ul li:first-child {margin-left: 0;}
.script_cont1 .right ul li.active {background-color: #323183; color: #fff;}

/* cont2 */
.script_cont2 {display: flex; justify-content: space-between; margin-top: 20%;}
.script_cont2 .left {flex: 1 1 60%;}
.script_cont2 .left iframe {border-radius: 1rem; margin-top: 4%;}
.script_cont2 .left ul {margin-top: 2%;}
.script_cont2 .left ul li {float: left; margin-left: 2%; border: 1px solid #000; border-radius: 50%; padding: .2% 1.5%; font-family: 'Sulphur Point', sans-serif; font-size: 1.3rem; font-weight: bold;}
.script_cont2 .left ul li:first-child {margin-left: 41%;}
.script_cont2 .left ul li.active {background-color: #323183; color: #fff;}
.script_cont2 .right {flex: 1 1 35%; margin-left: 4%;}
.script_cont2 .right h2 {font-family: 'Sulphur Point', sans-serif; font-size: 7rem; font-weight: bold; color: #323183; text-align: right;}
.script_cont2 .right p {font-family: 'GmarketSansLight'; font-size: 1.4rem; margin-top: 43%;}
.script_cont2 .right .btn {margin-top: 12%; display: flex; justify-content: space-between;}
.script_cont2 .right .btn a {font-family: 'GmarketSansLight'; background-color: #323183; padding: 4% 11%; border-radius: 0.5rem; font-size: 1rem; font-weight: bold;}

/* cont3 */
.script_cont3 {display: flex; justify-content: space-between; margin-top: 20%;}
.script_cont3 .left {flex: 1 1 35%;}
.script_cont3 .left h2 {font-family: 'Sulphur Point', sans-serif; font-size: 7rem; font-weight: bold; color: #323183;}
.script_cont3 .left p {font-family: 'GmarketSansLight'; font-size: 1.4rem; margin-top: 40%;}
.script_cont3 .left a {font-family: 'GmarketSansLight'; background-color: #323183; padding: 4% 11%; border-radius: 0.5rem; font-size: 1rem; font-weight: bold;}
.script_cont3 .left .btn {margin-top: 12%; display: flex; justify-content: space-between;}
.script_cont3 .right {flex: 1 1 60%; margin-left: 10%;}
.script_cont3 .right iframe {border-radius: 1rem; margin-top: 4%;}
.script_cont3 .right ul {margin-top: 2%;}
.script_cont3 .right ul li {float: left; margin-left: 2%; border: 1px solid #000; border-radius: 50%; padding: .2% 1.5%; font-family: 'Sulphur Point', sans-serif; font-size: 1.3rem; font-weight: bold;}
.script_cont3 .right ul li:first-child {margin-left: 0;}
.script_cont3 .right ul li.active {background-color: #323183; color: #fff;}

/* cont4 */
.script_cont4 {display: flex; justify-content: space-between; margin-top: 20%;}
.script_cont4 .left {flex: 1 1 60%;}
.script_cont4 .left iframe {border-radius: 1rem; margin-top: 4%;}
.script_cont4 .left ul {margin-top: 2%;}
.script_cont4 .left ul li {float: left; margin-left: 2%; border: 1px solid #000; border-radius: 50%; padding: .2% 1.5%; font-family: 'Sulphur Point', sans-serif; font-size: 1.3rem; font-weight: bold;}
.script_cont4 .left ul li:first-child {margin-left: 41%;}
.script_cont4 .left ul li.active {background-color: #323183; color: #fff;}
.script_cont4 .right {flex: 1 1 35%; margin-left: 4%;}
.script_cont4 .right h2 {font-family: 'Sulphur Point', sans-serif; font-size: 7rem; font-weight: bold; color: #323183; text-align: right;}
.script_cont4 .right p {font-family: 'GmarketSansLight'; font-size: 1.4rem; margin-top: 38%;}
.script_cont4 .right .btn {margin-top: 12%; display: flex; justify-content: space-between;}
.script_cont4 .right .btn a {font-family: 'GmarketSansLight'; background-color: #323183; padding: 4% 11%; border-radius: 0.5rem; font-size: 1rem; font-weight: bold;}

/* footer */
.script_footer {position: relative; background-image: url(../img/c_footer.png); background-size: cover; height: 750px; margin-top: 30%;}
.script_footer img {position: absolute; left: 0; width: 35%; bottom: 0%;}
.script_footer h1 {color: #fff; text-align: right; font-size: 7.5rem; padding-top: 25%; font-family: 'Sulphur Point', sans-serif; line-height: 1;}
.script_footer a {background-image: linear-gradient(105deg, rgb(193, 33, 47), rgb(241, 104, 53)); position: absolute; padding: 1rem 1.2rem; right: 0%; bottom: 10%; font-weight: bold; border-radius: 50%;}
.script_footer ul {display: flex; color: #fff; font-family: 'Poppins', sans-serif; font-size: 1.5rem; font-weight: bold; margin-top: 10%;}
.script_footer ul li {margin-left: 6%;}
.script_footer ul li:first-child {margin-left: 0%;}
.script_footer ul li:last-child {font-size: 1.1rem; margin-top: 0.4%;}