/* font */
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {background-color: #fff;}
.scroll {
    position: fixed; right: 10px; top: 10px;
    width: 50px; height: 50px; line-height: 50px;
    text-align: center; color: #fff;
    background: rgba(0,0,0,0.5);
    z-index: 10000000;
}
.index_header .top {
    opacity: 0; 
    transition: all 1s cubic-bezier(0.09, 0.79, 0.34, 0.99);
}
.index_header .top {
    opacity: 1; 
    transition: all 1s cubic-bezier(0.09, 0.79, 0.34, 0.99);
}

/* indx header */
.index_header {
    width: 100%; height: 100vh;
    color: #fff; 
    padding-top: 2vw; 
    background: url(../img/header.png) repeat-x center center; 
    background-size: cover;
}
.index_header .top {
    position: relative; 
    display: flex; justify-content: space-between; 
    font-family: 'Poppins';
}
.index_header p {
    color: white; 
    font-weight: bold;
    font-size: 1.5vw;
    transform: scaleX(0);
    animation: viewP 0.7s ease forwards;
}
@keyframes viewP {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.index_header .top a {
    background-image: linear-gradient(to top, rgb(193, 33, 47), rgb(241, 104, 53)); 
    border-radius: 10vw; padding: 0.8vw 2vw; 
    transform: scaleX(0);
    animation: viewA 0.7s 0.3s ease forwards;
}
@keyframes viewA {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.index_header h1 {
    margin-top: 25vh; line-height: 0.8;
    margin-left: 4vw;
    font-size: 9vw; 
    font-family: 'Sulphur Point';
    transform: scaleX(0);
    animation: viewText 0.7s 0.5s ease forwards;
}
@keyframes viewText {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.index_header h1 span {
    font-weight: 100; font-size: 7.5vw;
}
a.btn {
    position: absolute; 
    background-image: linear-gradient(to top, rgb(193, 33, 47), rgb(241, 104, 53)); 
    padding: 1.3vw 1.5vw; 
    left: 50%; top: 87%; 
    font-weight: bold; 
    border-radius: 50%;
}

/* contents */
#index_contents {
    font-family: 'Poppins'; 
    position: relative;
}

/* cont1 */
.cont1 {
    width: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    margin-top: 14vw;
}
.cont1 .left {
    flex:1 1 20%; 
    line-height: 1.3;
}
.cont1 .left ul li span {
    font-weight: 500; 
    font-size: 1.4vw;
}
.cont1 .left ul li.desc {
    padding-left: 4.5vw; 
    font-size: 1.2vw;
}
.cont1 .right {
    flex:1 1 80%; 
    font-family: 'GmarketSansLight'; 
    font-size: 1.2vw; line-height: 1.5;
}
.cont1 .bottom img {
    width: 19vw; height: 19vw; 
    border-radius: 1vw; 
    margin-top: 5.5vw; 
    margin-left: 40vw;
}
#cont1_1 img {
    position: absolute;
    top: -60vh; right: 0; 
    width: 25vw;
    transition: all 2s cubic-bezier(0,0,0,1);
}
#cont1_1 img:hover {
    width: 30vw;
    transition: all 2s cubic-bezier(0,0,0,1);
}
#cont1_2 img {
    position: absolute; 
    top: 5vh; left: -4vw; 
    opacity: 1; 
    transition: all 1s cubic-bezier(0.09, 0.79, 0.34, 0.99);
}
/* #cont1_2 img.show {
    opacity: 1; 
    transition: all 1s cubic-bezier(0.09, 0.79, 0.34, 0.99);
} */
#cont1_3 img {
    position: absolute; 
    top: 80vh; left: 0; 
    width: 25vw;
    z-index: -1;
    transition: all 2s cubic-bezier(0,0,0,1);
}
#cont1_3 img.ani3_2 {
    position: absolute; 
    top: 90vh; left: 0; 
    width: 21vw;
}
/* #cont1_3 img.ani3_2:hover {
    width: 30vw;
    transition: all 2s cubic-bezier(0,0,0,1);
} */

/* cont2 */
.cont2 {width: 100%; padding-top: 12vw; display: flex;}
.cont2 .left {margin-left: 16vw; flex:1 1 30%; line-height: 1.3;}
.cont2 .left .title {font-weight: 500; font-size: 1.3vw;}
.cont2 .left .desc {padding-left: 7.5vw; font-size: 1.1vw;}
.cont2 .right {flex:1 1 70%;}
.cont2 .right ul {display: flex; margin-top: 1vw;}
.cont2 .right li {padding-left: 6vw;}
.cont2 .right ul li img {width: 5vw;}
.cont2 .right ul li.w img {width: 3vw;}
.cont2 .right ul li.r img {width: 9.5vw; margin-left: -3.5vw;}

/* cont3 */
#cont3 {position: relative;}
#cont3 h2 {
    font-family: 'Sulphur Point'; 
    font-weight: 700; font-size: 10vw; 
    text-align: center; color: #1B1C25; 
    padding-top: 10vw;
}

/* cont_1 */
.cont3_1 {
    display: flex; 
    width: 100%; height: 80vh;
    margin-top: 8vw; color: #fff; 
    font-family: 'Poppins';
}
.cont3_1 .left {
    background-image: url(../img/bg1.png);
    background-size: cover; 
    width: 100%; height: 40vw; 
    flex: 1 1 50%;  
    display: flex; 
    position: relative;
}
.cont3_1 .left .tit_left {padding-left: 5vw; flex: 1 1 30%;}
.cont3_1 .left .tit_left h3 {
    font-size: 3vw; 
    line-height: 1; 
    margin-top: 8vw; 
    font-family: 'Sulphur Point'; 
    font-weight: bold; 
    line-height: 0.9;
}
.cont3_1 .left .tit_left p {
    margin-top: 2vw; 
    font-size: 1vw; 
    letter-spacing: -0.05vw;
}
.cont3_1 .left .tit_left ul {margin-top: 1vw;}
.cont3_1 .left .tit_left ul li {
    font-weight: 200; 
    font-size: 0.2vw; 
    letter-spacing: -0.02vw;
}
.cont3_1 .left .tit_right {flex: 1 1 70%;}
.cont3_1 .left .tit_right img {width: 30vw; height: 25vw; margin-top: 7vw;}
.cont3_1 .left a {
    background-image: linear-gradient(105deg, rgb(193, 33, 47), rgb(241, 104, 53)); 
    border-radius: 50%; 
    padding: 0.5vw 0.8vw;
    position: absolute;
    top: 24vw; font-weight: bold;
}
.cont3_1 .right {
    background-image: url(../img/bg2.png); 
    background-size: cover; 
    width: 100%; height: 40vw; 
    flex: 1 1 50%;  
    display: flex; 
    position: relative;
    margin-top: 1.95%;
}
.cont3_1 .right .tit_left {padding-left: 5vw; flex: 1 1 30%;}
.cont3_1 .right .tit_left h3 {
    font-size: 3vw; 
    line-height: 1; 
    margin-top: 8vw; 
    font-family: 'Sulphur Point'; 
    font-weight: bold; 
    line-height: 0.9;
}
.cont3_1 .right .tit_left p {
    margin-top: 2vw; 
    font-size: 1vw; 
    letter-spacing: -0.05vw;
}
.cont3_1 .right .tit_left ul {margin-top: 1vw;}
.cont3_1 .right .tit_left ul li {
    font-weight: 200; 
    font-size: 0.2vw; 
    letter-spacing: -0.02vw;
}
.cont3_1 .right .tit_right {flex: 1 1 70%;}
.cont3_1 .right .tit_right img {width: 30vw; height: 25vw; margin-top: 7vw;}
.cont3_1 .right a {
    background-image: linear-gradient(105deg, rgb(193, 33, 47), rgb(241, 104, 53)); 
    border-radius: 50%; 
    padding: 0.5vw 0.8vw;
    position: absolute;
    top: 24vw; font-weight: bold;
}

/* cont3_2 */
.cont3_2 {
    display: flex; 
    width: 100%; height: 80vh;
    margin-top: -2.4vw; color: #fff; 
    font-family: 'Poppins';
}
.cont3_2 .left {
    background-image: url(../img/bg3.png); 
    background-size: cover; 
    width: 100%; height: 40vw; 
    flex: 1 1 50%;  
    display: flex; 
    position: relative;
    color: #000;
}
.cont3_2 .left .tit_left {padding-left: 5vw; flex: 1 1 30%;}
.cont3_2 .left .tit_left h3 {
    font-size: 3vw; 
    line-height: 1; 
    margin-top: 8vw; 
    font-family: 'Sulphur Point'; 
    font-weight: bold; 
    line-height: 0.9;
}
.cont3_2 .left .tit_left p {
    margin-top: 2vw; 
    font-size: 1vw; 
    letter-spacing: -0.05vw;
}
.cont3_2 .left .tit_left ul {margin-top: 1vw;}
.cont3_2 .left .tit_left ul li {
    font-weight: 200; 
    font-size: 0.2vw; 
    letter-spacing: -0.02vw;
}
.cont3_2 .left .tit_right {flex: 1 1 70%;}
.cont3_2 .left .tit_right img {width: 26vw; height: 30vw; margin-top: 4vw; margin-left: 2vw;}
.cont3_2 .left a {
    background-image: linear-gradient(105deg, rgb(193, 33, 47), rgb(241, 104, 53)); 
    border-radius: 50%; 
    padding: 0.5vw 0.8vw;
    position: absolute;
    top: 24vw; font-weight: bold;
}
.cont3_2 .right {
    background-image: url(../img/bg4.png); 
    background-size: cover; 
    width: 100%; height: 40vw; 
    flex: 1 1 50%;  
    display: flex; 
    position: relative;
    margin-top: 1.95%;
}
.cont3_2 .right .tit_left {padding-left: 5vw; flex: 1 1 30%;}
.cont3_2 .right .tit_left h3 {font-size: 3vw; 
    line-height: 1; 
    margin-top: 8vw; 
    font-family: 'Sulphur Point'; 
    font-weight: bold; 
    line-height: 0.9;
}
.cont3_2 .right .tit_left p {
    margin-top: 2vw; 
    font-size: 1vw; 
    letter-spacing: -0.05vw;
}
.cont3_2 .right .tit_left ul {margin-top: 1vw;}
.cont3_2 .right .tit_left ul li {
    font-weight: 200; 
    font-size: 0.2vw; 
    letter-spacing: -0.02vw;
}
.cont3_2 .right .tit_right {flex: 1 1 70%;}
.cont3_2 .right .tit_right img {width: 26vw; height: 30vw; margin-top: 4vw; margin-left: 2vw;}
.cont3_2 .right a {
    background-image: linear-gradient(105deg, rgb(193, 33, 47), rgb(241, 104, 53)); 
    border-radius: 50%; 
    padding: 0.5vw 0.8vw;
    position: absolute;
    top: 24vw; font-weight: bold;
}

/* cont3_3 */
.cont3_3 {
    display: flex; 
    width: 100%; height: 80vh;
    margin-top: -2.4vw; color: #fff; 
    font-family: 'Poppins';
}
.cont3_3 .left {
    background-image: url(../img/bg5.png); 
    background-size: cover; 
    width: 100%; height: 40vw; 
    flex: 1 1 50%;  
    display: flex; 
    position: relative;
    color: #000;
}
.cont3_3 .left .tit_left {padding-left: 5vw; flex: 1 1 30%;}
.cont3_3 .left .tit_left h3 {
    font-size: 3vw; 
    line-height: 1; 
    margin-top: 8vw; 
    font-family: 'Sulphur Point'; 
    font-weight: bold; 
    line-height: 0.9;
}
.cont3_3 .left .tit_left p {
    margin-top: 2vw; 
    font-size: 1vw; 
    letter-spacing: -0.05vw;
}
.cont3_3 .left .tit_left ul {margin-top: 1vw;}
.cont3_3 .left .tit_left ul li {
    font-weight: 200; 
    font-size: 0.2vw; 
    letter-spacing: -0.02vw;
}
.cont3_3 .left .tit_right {flex: 1 1 70%;}
.cont3_3 .left .tit_right img {width: 30vw; height: 25vw; margin-top: 7vw;}
.cont3_3 .left a {
    background-image: linear-gradient(105deg, rgb(193, 33, 47), rgb(241, 104, 53)); 
    border-radius: 50%; 
    padding: 0.5vw 0.8vw;
    position: absolute;
    top: 24vw; font-weight: bold;
}
.cont3_3 .right {
    background-image: url(../img/bg6.png); 
    background-size: cover;
    width: 100%; 
    height: 40vw; 
    flex: 1 1 50%;  
    display: flex; 
    position: relative;
    margin-top: 1.95%;
}
.cont3_3 .right .tit_left {padding-left: 5vw; flex: 1 1 30%;}
.cont3_3 .right .tit_left h3 {font-size: 3vw; 
    line-height: 1; 
    margin-top: 8vw; 
    font-family: 'Sulphur Point'; 
    font-weight: bold; 
    line-height: 0.9;
}
.cont3_3 .right .tit_left p {
    margin-top: 2vw; 
    font-size: 1vw; 
    letter-spacing: -0.05vw;
}
.cont3_3 .right .tit_left ul {margin-top: 1vw;}
.cont3_3 .right .tit_left ul li {
    font-weight: 200; 
    font-size: 0.2vw; 
    letter-spacing: -0.02vw;
}
.cont3_3 .right .tit_right {flex: 1 1 70%;}
.cont3_3 .right .tit_right img {width: 30vw; height: 25vw; margin-top: 7vw;}
.cont3_3 .right a {
    background-image: linear-gradient(105deg, rgb(193, 33, 47), rgb(241, 104, 53)); 
    border-radius: 50%; 
    padding: 0.5vw 0.8vw;
    position: absolute;
    top: 24vw; font-weight: bold;
}
#ani img {position: absolute; right: 0; bottom: -100vh; width: 35%; z-index: -999;}

/* cont4 */
#cont4 h2 {
    font-size: 7vw; 
    font-family: 'Sulphur Point'; 
    font-weight: bold; 
    line-height: 0.9; 
    letter-spacing: -0.1vw; 
    margin-top: 15vw; 
}
.cont4 {width: 100%; display: flex; flex-wrap: wrap;}
.cont4 .left {flex:1 1 20%; line-height: 1.3; margin-top: 8vw;}
.cont4 .left ul li span {font-weight: 500; font-size: 1.2vw;}
.cont4 .left ul li.desc {padding-left: 4vw; font-size: 1vw;}
.cont4 .right {
    flex:1 1 70%; 
    font-family: 'GmarketSansLight'; 
    font-size: 1.3vw; 
    line-height: 1.3;
    margin-top: 8vw;}
.cont4 .bottom img {
    width: 20vw; height: 20vw; 
    border-radius: 1vw; 
    margin-top: 3vw; margin-left: 50vw;}

/* cont5 */
.cont5 {position: relative;}
.cont5 img {width: 100%; margin-top: -20vw;}
.cont5 h3 {
    font-size:6vw; 
    font-family: 'GmarketSansMedium'; 
    position: absolute; 
    top: 22vw; color: #fff;
}

/* cont6 */
.cont6 h2 {
    font-size: 6vw; 
    font-family: 'Sulphur Point'; 
    font-weight: bold; color: #1B1C25; 
    letter-spacing: -0.3vw; 
    text-align: center; margin-top: 10vw;
}
.cont6 form {
    display: block; 
    box-sizing: border-box; 
    margin-left: 13vw; 
    font-family: 'Sulphur Point';
}
.cont6 input {
    border: 0; 
    background-color: rgb(236, 233, 233); 
    border-radius: 0.5vw; 
    display: flex; 
    flex-direction : column; 
    outline: none; 
    padding: 4vw 0; 
    font-size: 1vw;
}        
.cont6 input.email {margin-bottom: 2vw; padding: 1vw 0;}
.cont6 button {
    border: 0; 
    background-image: linear-gradient(105deg, rgb(241, 104, 53), rgb(193, 33, 47)); 
    border-radius: 1vw; 
    padding: 0.7vw 27vw; 
    font-size: 1.5vw; 
    text-transform: uppercase; 
    color: #fff; margin-top: 2vw; 
    margin-bottom: 12vw;
}

/* footer */
#footer {
    width: 100%; 
    height: 3.5vw; 
    background: #1B1C25; 
    font-family: 'Sulphur Point';
}
.footer {text-transform: uppercase; padding-top: 1.1vw;}
.footer a {margin-right: 3vw;}

/* site
/* header */
.header {
    width: 100%; 
    height: 110vh; 
    color: #fff; 
    padding-top: 2vw; 
    background: url(../img/header2.png); 
    background-size: cover;
}
.header .top {
    position: relative; 
    display: flex; 
    justify-content: space-between; 
    font-family: 'Poppins';
}
.header p {
    color: white;
    font-weight: bold; 
    font-size: 1.5vw;
    transform: scaleY(0);
    animation: viewP 0.7s ease forwards;
}
@keyframes viewP {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.header .top a {
    background-image: linear-gradient(to top, rgb(193, 33, 47), rgb(241, 104, 53)); 
    border-radius: 10vw; padding: 0.8vw 2vw; 
    transform: scaleY(0);
    animation: viewA 0.7s 0.3s ease forwards;
}
@keyframes viewA {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.header h1 {
    margin-top: 25vh; line-height: 0.8;
    margin-left: 4vw;
    font-size: 9vw; 
    transform: scaleY(0);
    font-family: 'Sulphur Point';
    animation: viewText 0.7s 0.5s ease forwards;
}
@keyframes viewText {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.header h1 span {font-weight: 100; font-size: 7.5vw;}
.header a.btn {
    position: absolute; 
    padding: 1.3vw 1.5vw; 
    left: 50%; top: 70%; 
    font-weight: bold; 
    border-radius: 50%;
}
.header img {
    position: absolute; 
    right: 0; width: 38vw; 
    top: 20vh; opacity: 0; 
    animation: main 0.7s 0.7s ease forwards;
}
@keyframes main {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* content */
#content {position: relative;}
#content img {
    position: absolute; 
    margin-top: -36vh; 
    right: 0; width: 28vw;
    transition: all 2s cubic-bezier(0,0,0,1);
}
#content img:hover {
    transition: all 2s cubic-bezier(0,0,0,1);
    width: 32vw;
}
#content img.left {
    position: absolute; 
    margin-top: 220vh; 
    left: 0; width: 24vw; 
    z-index: -999;
}
#content img.right {
    position: absolute; 
    margin-top: 425vh; 
    right: 0; width: 28vw;
}
.content1 {display: flex;}
.content1 .cont_left {flex: 0 0 50%;}
.cont_left img {left: 0; margin-top: 45vh; width: 40vw;}
.content1 .cont_right {flex: 0 0 50%;}
.content1 .cont_right h3 {
    font-family: 'Sulphur Point'; 
    font-size: 7vw; font-weight: bold; 
    text-align: right; padding-top: 22vh; 
    color:#0F2622;
}
.cont_right_tit {margin-left: 6vw;}
.cont_right_tit p {
    font-family: 'GmarketSansLight'; 
    padding-top: 51.8vh; 
    font-size: 1.5vw;
}
.content1 .btn {
    margin-top: 3vh;
    display: flex; 
    justify-content: space-between;
}
.content1 .btn a {
    background-color: #0F2622; 
    border-radius: 0.5vw; 
    padding: 0.9vw 1.8vw; 
    margin-top: 6vh; 
    font-size: 1.3vw; 
    font-family: 'Poppins';
}

.content2 {display: flex; position: relative;}
.content2 .cont_right {flex: 0 0 60%;}
.content2 .cont_left {flex: 0 0 40%;}
.content2 .cont_right img {
    position: absolute; 
    right: 0; top: 55vh; 
    width: 40vw;
}
.content2 .cont_left h3 {
    margin-top: 30vh; 
    font-family: 'Sulphur Point'; 
    font-size: 7vw; 
    font-weight: bold; 
    color:#0F2622;
}
.content2 .cont_left_tit {margin-top: 15.8vh;}
.content2 .cont_left_tit p {
    font-family: 'GmarketSansLight'; 
    font-size: 1.5vw;
}
.content2 .cont_left_tit .btn {
    margin-top: 10vh; 
    display: flex; 
    justify-content: space-between;
}
.content2 .cont_left_tit a {
    padding: 0.9vw 1.8vw;  
    font-size: 1.3vw; 
    font-family: 'Poppins';
    background-color: #0F2622; 
    border-radius: 0.5vw; 
}

.content3 {display: flex;}
.content3 .cont_left {flex: 1 1 60%;}
.content3 .cont_left img {left: 0; margin-top: 56vh; width: 40vw;}
.content3  .cont_right {flex: 1 1 40%;}
.content3 .cont_right h3 {
    font-family: 'Sulphur Point'; 
    font-size: 7vw; font-weight: bold; 
    text-align: right; padding-top: 27vh; 
    color:#0F2622;
}
.content3 .cont_right_tit {margin-left: -3vw;}
.content3 .cont_right_tit p {
    font-family: 'GmarketSansLight'; 
    padding-top: 35.5vh; 
    font-size: 1.5vw;
}
.content3 .btn {margin-top: 10vh; margin-left: 11vw;}
.content3 .btn a {
    background-color: #0F2622; 
    border-radius: 0.5vw; 
    padding: 0.9vw 1.8vw; 
    font-family: 'Poppins'; 
    font-size: 1.3vw;
    margin-left: 2vw;
}

.content4 {display: flex; position: relative;}
.content4 .cont_right {flex: 0 0 50%;}
.content4 .cont_left {flex: 0 0 50%;}
.content4 .cont_right img {
    position: absolute; 
    right: 0; top: 55vh; 
    width: 38vw;
}
.content4 .cont_left h3 {
    margin-top: 30vh; 
    font-family: 'Sulphur Point'; 
    font-size: 6.9vw; 
    font-weight: bold; 
    color:#0F2622;
}
.content4 .cont_left_tit {margin-top: 43.5vh;}
.content4 .cont_left_tit p {
    font-family: 'GmarketSansLight'; 
    font-size: 1.5vw;
    margin-right: 6vw;
}
.content4 .cont_left_tit .btn {
    margin-top: 10vh; 
}
.content4 .cont_left_tit a {
    padding: 0.9vw 1.8vw;  
    font-size: 1.3vw; 
    font-family: 'Poppins';
    background-color: #0F2622; 
    border-radius: 0.5vw; 
    margin-left: 2vw;
}
.content4 .cont_left_tit a:first-child {margin-left: 0;}

/* footer */
.site_footer {
    position: relative; 
    background-image: url(../img/s_footer.png); 
    background-size: cover; 
    width: 100%; height: 100vh; 
    margin-top: 30%; z-index: -2;}
.site_footer img {
    position: absolute; 
    left: 0; width: 32vw; 
    bottom: 0%; z-index: -1;
}
.site_footer h1 {
    color: #fff; 
    text-align: right; 
    font-size: 8vw; 
    padding-top: 40vh; 
    font-family: 'Sulphur Point'; 
    line-height: 1;
}
.site_footer a {
    background-image: linear-gradient(to top, rgb(193, 33, 47), rgb(241, 104, 53)); 
    position: absolute; 
    border-radius: 10vw;
    padding: 1.4vw 1.6vw;
    right: 8vw; bottom: 10vh; 
    font-weight: bold; 
}
.site_footer ul {
    display: flex; color: #fff; 
    font-family: 'Poppins'; 
    font-size: 1.3vw; 
    font-weight: bold; 
    margin-top: 20vh;
}
.site_footer ul li {margin-left: 6vw;}
.site_footer ul li:first-child {margin-left: 0%;}
.site_footer ul li:last-child {font-size: 1vw; margin-top: 0.4vh;}

/* script
/* header */
.script_header {
    width: 100%; 
    height: 110vh; 
    color: #fff; 
    padding-top: 2vw; 
    background: url(../img/header3.png); 
    background-size: cover;
}
.script_header .top {
    position: relative; 
    display: flex; 
    justify-content: space-between; 
    font-family: 'Poppins';
}
.script_header p {
    color: white;
    font-weight: bold; 
    font-size: 1.5vw;
    transform: scaleY(0);
    animation: viewP 0.7s ease forwards;
}
@keyframes viewP {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.script_header .top a {
    background-image: linear-gradient(to top, rgb(193, 33, 47), rgb(241, 104, 53)); 
    border-radius: 10vw; padding: 0.8vw 2vw; 
    transform: scaleY(0);
    animation: viewA 0.7s 0.3s ease forwards;
}
@keyframes viewA {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.script_header h1 {
    margin-top: 25vh; line-height: 0.8;
    margin-left: 4vw;
    font-size: 9vw; 
    transform: scaleY(0);
    font-family: 'Sulphur Point';
    animation: viewText 0.7s 0.5s ease forwards;
}
@keyframes viewText {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.script_header h1 span {font-weight: 100; font-size: 7.5vw;}
a.btn {
    position: absolute; 
    padding: 1.3vw 1.5vw; 
    left: 50%; top: 70%; 
    font-weight: bold; 
    border-radius: 50%;
}
.script_header img {
    position: absolute; 
    right: 0; width: 38vw; 
    top: 20vh; opacity: 0; 
    animation: main 0.7s 0.7s ease forwards;
}
@keyframes main {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* cont1 */
.ani img.ani1 {
    position: absolute; 
    margin-top: -70vh; 
    right: 0; width: 28vw;
    transition: all 2s cubic-bezier(0,0,0,1);
}
.ani img.ani1:hover {
    transition: all 2s cubic-bezier(0,0,0,1);
    width: 32vw;
}
.ani img.ani2 {
    position: absolute; 
    left: 0; width: 30vw; 
    margin-top: 120vh;
    z-index: -1;
}
.script_cont1 {display: flex; justify-content: space-between; margin-top: 25vh;}
.script_cont1 .left {flex: 0 0 35%;}
.script_cont1 .left h2 {
    font-family: 'Sulphur Point'; 
    font-size: 7vw; 
    font-weight: bold; 
    color: #323183;
}
.script_cont1 .left p {
    font-family: 'GmarketSansLight'; 
    font-size: 1.5vw;
    margin-top: 22vh;
}
.script_cont1 .left a {
    font-family: 'GmarketSansLight'; 
    background-color: #323183; 
    padding: 1vw 2vw; 
    border-radius: 0.5vw; 
    font-size: 1.3vw; 
    font-weight: bold;
}
.script_cont1 .left .btn {
    margin-top: 8vh; 
    display: flex; 
    justify-content: space-between;
}
.script_cont1 .right {flex: 0 0 60%; margin-left: 10vw;}
.script_cont1 .right iframe {
    width:45vw; height: 60vh;
    border-radius: 1vw; margin-top: 4.5vh;
}
.script_cont1 .right ul {margin-top: 2vh;}
.script_cont1 .right ul li {
    float: left; 
    margin-left: 1vw; 
    border: 1px solid #000; 
    border-radius: 50%; 
    padding: 0.2vw 0.8vw; 
    font-family: 'Sulphur Point';
    font-size: 1.3vw; 
    font-weight: bold;
}
.script_cont1 .right ul li:first-child {margin-left: 0;}
.script_cont1 .right ul li.active {background-color: #323183; color: #fff;}

/* cont2 */
.script_cont2 {display: flex; justify-content: space-between; margin-top: 30vh;}
.script_cont2 .left {flex: 0 0 60%;}
.script_cont2 .left iframe {
    width: 45vw; height: 60vh;
    border-radius: 1vw; margin-top: 4vh;
}
.script_cont2 .left ul {margin-top: 1vw;}
.script_cont2 .left ul li {
    float: left; 
    margin-left: 1vw; 
    border: 1px solid #000; 
    border-radius: 50%; 
    padding: 0.2vw 0.8vw; 
    font-family: 'Sulphur Point';
    font-size: 1.3vw; 
    font-weight: bold;
}
.script_cont2 .left ul li:first-child {margin-left: 19.8vw}
.script_cont2 .left ul li.active {background-color: #323183; color: #fff;}
.script_cont2 .right {flex: 0 0 35%; margin-left: 2vw;}
.script_cont2 .right h2 {
    font-family: 'Sulphur Point'; 
    font-size: 7vw; 
    font-weight: bold; 
    color: #323183;
    text-align: right;
}
.script_cont2 .right p {
    font-family: 'GmarketSansLight'; 
    font-size: 1.5vw;
    margin-top: 26vh;
    margin-left: -1vw;
}
.script_cont2 .right .btn {
    margin-top: 8vh;
    display: flex; 
    justify-content: space-between;
    margin-left: -1vw;
}
.script_cont2 .right .btn a {
    font-family: 'GmarketSansLight'; 
    background-color: #323183; 
    padding: 1vw 2vw; 
    border-radius: 0.5vw; 
    font-size: 1.3vw; 
    font-weight: bold;
}

/* cont3 */
.script_cont3 {display: flex; justify-content: space-between; margin-top: 30vh;}
.script_cont3 .left {flex: 0 0 35%;}
.script_cont3 .left h2 {
    font-family: 'Sulphur Point'; 
    font-size: 7vw; 
    font-weight: bold; 
    color: #323183;
}
.script_cont3 .left p {
    font-family: 'GmarketSansLight'; 
    font-size: 1.5vw;
     margin-top: 22vh;
    }
.script_cont3 .left a {
    font-family: 'GmarketSansLight'; 
    background-color: #323183; 
    padding: 1vw 2vw; 
    border-radius: 0.5vw; 
    font-size: 1.3vw; 
    font-weight: bold;
}
.script_cont3 .left .btn {
    margin-top: 8vh; 
    display: flex; 
    justify-content: space-between;
}
.script_cont3 .right {flex: 0 0 60%; margin-left: 10vw;}
.script_cont3 .right iframe {
    width: 45vw; height: 60vh;
    border-radius: 1vw; 
    margin-top: 4.5vh;
}
.script_cont3 .right ul {margin-top: 2vh;}
.script_cont3 .right ul li {
    float: left; 
    margin-left: 1vw; 
    border: 1px solid #000; 
    border-radius: 50%; 
    padding: 0.2vw 0.8vw; 
    font-family: 'Sulphur Point';
    font-size: 1.3vw; 
    font-weight: bold;
}
.script_cont3 .right ul li:first-child {margin-left: 0;}
.script_cont3 .right ul li.active {background-color: #323183; color: #fff;}

/* cont4 */
.script_cont4 {display: flex; justify-content: space-between; margin-top: 30vh;}
.script_cont4 .left {flex: 0 0 60%;}
.script_cont4 .left iframe {
    width: 45vw; height: 65vh;
    border-radius: 1vw; margin-top: 4vh;
}
.script_cont4 .left ul {margin-top: 1vw;}
.script_cont4 .left ul li {
    float: left; 
    margin-left: 1vw; 
    border: 1px solid #000; 
    border-radius: 50%; 
    padding: 0.2vw 0.8vw; 
    font-family: 'Sulphur Point';
    font-size: 1.3vw; 
    font-weight: bold;
}
.script_cont4 .left ul li:first-child {margin-left: 19.8vw}
.script_cont4 .left ul li.active {background-color: #323183; color: #fff;}
.script_cont4 .right {flex: 0 0 35%; margin-left: 2vw;}
.script_cont4 .right h2 {
    font-family: 'Sulphur Point'; 
    font-size: 7vw; 
    font-weight: bold; 
    color: #323183;
    text-align: right;
}
.script_cont4 .right p {
    font-family: 'GmarketSansLight'; 
    font-size: 1.5vw;
    margin-top: 27vh;
    margin-left: -1vw;
}
.script_cont4 .right .btn {
    margin-top: 8vh;
    display: flex; 
    justify-content: space-between;
    margin-left: -1vw;
}
.script_cont4 .right .btn a {
    font-family: 'GmarketSansLight'; 
    background-color: #323183; 
    padding: 1vw 2vw; 
    border-radius: 0.5vw; 
    font-size: 1.3vw; 
    font-weight: bold;
}

/* footer */
.script_footer {
    position: relative; 
    background-image: url(../img/c_footer.png); 
    background-size: cover; 
    width: 100%; height: 100vh; 
    margin-top: 30%; z-index: -2;}
.script_footer img {
    position: absolute; 
    left: 0; width: 32vw; 
    bottom: 0%; z-index: -1;
}
.script_footer h1 {
    color: #fff; 
    text-align: right; 
    font-size: 8vw; 
    padding-top: 40vh; 
    font-family: 'Sulphur Point'; 
    line-height: 1;
}
.script_footer a {
    background-image: linear-gradient(to top, rgb(193, 33, 47), rgb(241, 104, 53)); 
    position: absolute; 
    border-radius: 10vw;
    padding: 1.4vw 1.6vw;
    right: 8vw; bottom: 10vh; 
    font-weight: bold; 
}
.script_footer ul {
    display: flex; color: #fff; 
    font-family: 'Poppins'; 
    font-size: 1.3vw; 
    font-weight: bold; 
    margin-top: 20vh;
}
.script_footer ul li {margin-left: 6vw;}
.script_footer ul li:first-child {margin-left: 0%;}
.script_footer ul li:last-child {font-size: 1vw; margin-top: 0.4vh;}

/* animation
/* header */
.ani_header {
    width: 100%; 
    height: 110vh; 
    color: #fff; 
    padding-top: 2vw; 
    background: url(../img/header4.png); 
    background-size: cover;
}
.ani_header .top {
    position: relative; 
    display: flex; 
    justify-content: space-between; 
    font-family: 'Poppins';
}
.ani_header p {
    color: white;
    font-weight: bold; 
    font-size: 1.5vw;
    transform: scaleY(0);
    animation: viewP 0.7s ease forwards;
}
@keyframes viewP {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.ani_header .top a {
    background-image: linear-gradient(to top, rgb(193, 33, 47), rgb(241, 104, 53)); 
    border-radius: 10vw; padding: 0.8vw 2vw; 
    transform: scaleY(0);
    animation: viewA 0.7s 0.3s ease forwards;
}
@keyframes viewA {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.ani_header h1 {
    margin-top: 25vh; line-height: 0.8;
    margin-left: 4vw;
    font-size: 9vw; 
    transform: scaleY(0);
    font-family: 'Sulphur Point';
    animation: viewText 0.7s 0.5s ease forwards;
}
@keyframes viewText {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.ani_header h1 span {font-weight: 100; font-size: 7.5vw;}
a.btn {
    position: absolute; 
    padding: 1.3vw 1.5vw; 
    left: 50%; top: 70%; 
    font-weight: bold; 
    border-radius: 50%;
}
.ani_header img {
    position: absolute; 
    right: 0; width: 26vw; 
    top: 24vh; opacity: 0; 
    animation: main 0.7s 0.7s ease forwards;
}
@keyframes main {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* content */
.ani_content1 h2 {
    font-family: 'Sulphur Point'; 
    font-size: 7vw; 
    font-weight: bold; 
    color: #FFB720; 
    margin-top: 30vh; 
    margin-bottom: 10vh;
}
#ani1 {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; position: relative;
}
.img1 {
    position: absolute;
    right: 0; top: 70vh;
    width: 27vw;
    transition: all 2s cubic-bezier(0,0,0,1);
}
.img1:hover {
    transition: all 2s cubic-bezier(0,0,0,1);
    width: 32vw;
}
.img2 {
    position: absolute;
    left: 0; top: 330vh;
    width: 25vw;
    z-index: -1;
}
.img3 {
    position: absolute;
    right: 0; top: 700vh;
    width: 30vw;
    z-index: -1;
}
.ani1 {flex: 0 0 32%;}
.ani1 a {
    color: #000; 
    background-color: #ffb82092; 
    border-radius: 2vw; 
    padding: 1vw 2vw; 
    font-size: 1.3vw; 
    margin-left: 14vw;
}
.ani1 iframe {
    flex: 0 0 32%; 
    border-radius: 2vw; 
    margin-top: 6vh;
    width: 25vw; height: 80vh;
}
.ani2 {
    flex: 0 0 32%; 
    margin-top: 10vh;
}
.ani2 a {
    color: #000; 
    background-color: #ffb82092; 
    border-radius: 2vw; 
    padding: 1vw 2vw; 
    font-size: 1.3vw; 
    margin-left: 14vw;
}
.ani2 iframe {
    flex: 0 0 32%; 
    border-radius: 2vw; 
    margin-top: 6vh;
    width: 25vw; height: 80vh;
}
.ani3 {
    flex: 0 0 32%; 
    margin-top: 20vh;
}
.ani3 a {
    color: #000; 
    background-color: #ffb82092; 
    border-radius: 2vw; 
    padding: 1vw 2vw; 
    font-size: 1.3vw; 
    margin-left: 14vw;
}
.ani3 iframe {
    flex: 0 0 32%; 
    border-radius: 2vw; 
    margin-top: 6vh;
    width: 25vw; height: 80vh;
}
#ani2 {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    margin-top: -10vh;
}
#ani3 {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    margin-top: -10vh;
}

.ani_content2 h2 {
    font-family: 'Sulphur Point'; 
    font-size: 7vw; 
    font-weight: bold; 
    color: #FFB720; 
    margin-top: 30vh; 
    margin-bottom: 10vh;
}
.ani4 {display: flex; justify-content : flex-end;}
.ani4 .btn {margin-top: 55vh;}
.ani4 a {
    color: #000; 
    background-color: #ffb82092;
    border-radius: 2vw; 
    padding: 1vw 2vw; 
    font-size: 1.3vw; 
    margin-right: 4vw;
}
.ani4 iframe {
    border-radius: 2vw;
    width: 45vw; height: 60vh;
}
.ani5 {display: flex; margin-top: 20vh;}
.ani5 .btn {margin-top: 55vh;}
.ani5 a {
    color: #000; 
    background-color: #ffb82092;
    border-radius: 2vw; 
    padding: 1vw 2vw; 
    font-size: 1.3vw; 
    margin-left: 4vw;
}
.ani5 iframe {
    border-radius: 2vw;
    width: 45vw; height: 60vh;
}
.ani6 {display: flex; justify-content : flex-end; margin-top: 20vh;}
.ani6 .btn {margin-top: 55vh;}
.ani6 a {
    color: #000; 
    background-color: #ffb82092;
    border-radius: 2vw; 
    padding: 1vw 2vw; 
    font-size: 1.3vw; 
    margin-right: 4vw;
}
.ani6 iframe {
    border-radius: 2vw;
    width: 45vw; height: 60vh;
}

.ani_content3 h2 {
    font-family: 'Sulphur Point'; 
    font-size: 7vw; 
    font-weight: bold; 
    color: #FFB720; 
    margin-top: 30vh; 
}
.ani7 {display: flex; margin-top: 20vh;}
.ani7 .btn {margin-top: 43vh;}
.ani7 a {
    color: #000; 
    background-color: #ffb82092;
    border-radius: 2vw; 
    padding: 1vw 2vw; 
    font-size: 1.3vw; 
    margin-left: 4vw;
}
.ani7 iframe {
    border-radius: 2vw;
    width: 45vw; height: 60vh;
    margin-top: -12vh;
}
.ani8 {display: flex; justify-content : flex-end; margin-top: 20vh;}
.ani8 .btn {margin-top: 55vh;}
.ani8 a {
    color: #000; 
    background-color: #ffb82092;
    border-radius: 2vw; 
    padding: 1vw 2vw; 
    font-size: 1.3vw; 
    margin-right: 4vw;
}
.ani8 iframe {
    border-radius: 2vw;
    width: 45vw; height: 60vh;
}
.ani9 {display: flex; margin-top: 35vh;}
.ani9 .btn {margin-top: 43vh;}
.ani9 a {
    color: #000; 
    background-color: #ffb82092;
    border-radius: 2vw; 
    padding: 1vw 2vw; 
    font-size: 1.3vw; 
    margin-left: 4vw;
}
.ani9 iframe {
    border-radius: 2vw;
    width: 45vw; height: 60vh;
    margin-top: -12vh;
}

/* footer */
.animation_footer {
    position: relative; 
    background-image: url(../img/a_footer.png); 
    background-size: cover; 
    width: 100%; height: 100vh; 
    margin-top: 30%; z-index: -2;}
.animation_footer img {
    position: absolute; 
    left: 11%; width: 35%; 
    bottom: 38.4%; z-index: -1;
}
.animation_footer h1 {
    color: #fff; 
    text-align: right; 
    font-size: 8vw; 
    padding-top: 40vh; 
    font-family: 'Sulphur Point'; 
    line-height: 1;
}
.animation_footer a {
    background-image: linear-gradient(to top, rgb(193, 33, 47), rgb(241, 104, 53)); 
    position: absolute; 
    border-radius: 10vw;
    padding: 1.4vw 1.6vw;
    right: 8vw; bottom: 10vh; 
    font-weight: bold; 
}
.animation_footer ul {
    display: flex; color: #fff; 
    font-family: 'Poppins'; 
    font-size: 1.3vw; 
    font-weight: bold; 
    margin-top: 20vh;
}
.animation_footer ul li {margin-left: 6vw;}
.animation_footer ul li:first-child {margin-left: 0%;}
.animation_footer ul li:last-child {font-size: 1vw; margin-top: 0.4vh;}

/* design
/* header */
.d_header {
    width: 100%; 
    height: 110vh; 
    color: #fff; 
    padding-top: 2vw; 
    background: url(../img/header5.png); 
    background-size: cover;
}
.d_header .top {
    position: relative; 
    display: flex; 
    justify-content: space-between; 
    font-family: 'Poppins';
}
.d_header p {
    color: white;
    font-weight: bold; 
    font-size: 1.5vw;
    transform: scaleY(0);
    animation: viewP 0.7s ease forwards;
}
@keyframes viewP {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.d_header .top a {
    background-image: linear-gradient(to top, rgb(193, 33, 47), rgb(241, 104, 53)); 
    border-radius: 10vw; padding: 0.8vw 2vw; 
    transform: scaleY(0);
    animation: viewA 0.7s 0.3s ease forwards;
}
@keyframes viewA {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.d_header h1 {
    margin-top: 25vh; line-height: 0.8;
    margin-left: 4vw;
    font-size: 9vw; 
    transform: scaleY(0);
    font-family: 'Sulphur Point';
    animation: viewText 0.7s 0.5s ease forwards;
}
@keyframes viewText {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.d_header h1 span {font-weight: 100; font-size: 7.5vw;}
a.btn {
    position: absolute; 
    padding: 1.3vw 1.5vw; 
    left: 50%; top: 70%; 
    font-weight: bold; 
    border-radius: 50%;
}
.d_header img {
    position: absolute; 
    right: 0; width: 27vw; 
    top: 20vh; opacity: 0; 
    animation: main 0.7s 0.7s ease forwards;
}
@keyframes main {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* design
/* content */
.img2 {
    top: 300vh;
    width: 25vw;
}
.d_content h2 {
    font-family: 'Sulphur Point'; 
    font-size: 7vw; 
    font-weight: bold; 
    color: #FFB720; 
    margin-top: 30vh; 
    margin-bottom: 10vh;
}
.d_content .d_cont1 {display: flex; justify-content: space-between;}
.d_content .d_cont1 .left {flex: 1 1 50%;}
.d_content .d_cont1 .left p {
    text-align: center; 
    font-family: 'GmarketSansLight'; 
    font-weight: bold; 
    font-size: 1.5vw; 
    margin-bottom: 3vh;
}
.d_content .d_cont1 .left p.desc {
    font-family: 'GmarketSansLight'; 
    font-size: 1.2vw; 
    font-weight: normal; 
    padding: 0 9%; 
    margin-top: 3%; 
    text-align: left;
}
.d_content .d_cont1 .left img {width: 100%;}
.d_content .d_cont1 .right {
    flex: 1 1 50%; 
    margin-left: 5%; 
    margin-top: 15%;
}
.d_content .d_cont1 .right img {width: 100%;}
.d_content .d_cont1 .right p {
    text-align: center; 
    font-family: 'GmarketSansLight'; 
    font-weight: bold; 
    font-size: 1.5vw; 
    margin-bottom: 3vh;
}
.d_content .d_cont1 .right p.desc {
    font-family: 'GmarketSansLight'; 
    font-size: 1.2vw; 
    font-weight: normal; 
    padding: 0 9%; 
    margin-top: 3%; 
    text-align: left;
}
.d_content .d_cont2 {display: flex; justify-content: space-between;}
.d_content .d_cont2 .left {flex: 1 1 50%; margin-top: 15%;}
.d_content .d_cont2 .left p {
    text-align: center; 
    font-family: 'GmarketSansLight'; 
    font-weight: bold; 
    font-size: 1.5vw; 
    margin-bottom: 3vh;
}
.d_content .d_cont2 .left p.desc {
    font-family: 'GmarketSansLight'; 
    font-size: 1.2vw; 
    font-weight: normal; 
    padding: 0 9%; 
    margin-top: 3%; 
    text-align: left;
}
.d_content .d_cont2 .left img {width: 100%;}
.d_content .d_cont2 .right {flex: 1 1 50%; margin-left: 5%;}
.d_content .d_cont2 .right img {width: 100%;}
.d_content .d_cont2 .right p {
    text-align: center; 
    font-family: 'GmarketSansLight'; 
    font-weight: bold; 
    font-size: 1.5vw; 
    margin-bottom: 3vh;
}
.d_content .d_cont2 .right p.desc {
    font-family: 'GmarketSansLight'; 
    font-size: 1.2vw; font-weight: normal;
    padding: 0 9%; 
    margin-top: 3%; 
    text-align: left;
} 

/* footer */
.d_footer {
    position: relative; 
    background-image: url(../img/d_footer.png); 
    background-size: cover; 
    width: 100%; height: 100vh; 
    margin-top: 30vh; z-index: -2;}
.d_footer img {
    position: absolute; 
    left: 6.5%; width: 52%; 
    bottom: 36.57%; z-index: -1;
}
.d_footer h1 {
    color: #fff; 
    text-align: right; 
    font-size: 8vw; 
    padding-top: 40vh; 
    font-family: 'Sulphur Point'; 
    line-height: 1;
}
.d_footer a {
    background-image: linear-gradient(to top, rgb(193, 33, 47), rgb(241, 104, 53)); 
    position: absolute; 
    border-radius: 10vw;
    padding: 1.4vw 1.6vw;
    right: 8vw; bottom: 10vh; 
    font-weight: bold; 
}
.d_footer ul {
    display: flex; color: #fff; 
    font-family: 'Poppins'; 
    font-size: 1.3vw; 
    font-weight: bold; 
    margin-top: 20vh;
}
.d_footer ul li {margin-left: 6vw;}
.d_footer ul li:first-child {margin-left: 0%;}
.d_footer ul li:last-child {font-size: 1vw; margin-top: 0.4vh;}

/* react
/* header */
.r_header {
    width: 100%; 
    height: 110vh; 
    color: #fff; 
    padding-top: 2vw; 
    background: url(../img/header6.png); 
    background-size: cover;
}
.r_header .top {
    position: relative; 
    display: flex; 
    justify-content: space-between; 
    font-family: 'Poppins';
}
.r_header p {
    color: white;
    font-weight: bold; 
    font-size: 1.5vw;
    transform: scaleY(0);
    animation: viewP 0.7s ease forwards;
}
@keyframes viewP {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.r_header .top a {
    background-image: linear-gradient(to top, rgb(193, 33, 47), rgb(241, 104, 53)); 
    border-radius: 10vw; padding: 0.8vw 2vw; 
    transform: scaleY(0);
    animation: viewA 0.7s 0.3s ease forwards;
}
@keyframes viewA {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.r_header h1 {
    margin-top: 25vh; line-height: 0.8;
    margin-left: 4vw;
    font-size: 9vw; 
    transform: scaleY(0);
    font-family: 'Sulphur Point';
    animation: viewText 0.7s 0.5s ease forwards;
}
@keyframes viewText {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.r_header h1 span {font-weight: 100; font-size: 7.5vw;}
a.btn {
    position: absolute; 
    padding: 1.3vw 1.5vw; 
    left: 50%; top: 70%; 
    font-weight: bold; 
    border-radius: 50%;
}
.r_header img {
    position: absolute; 
    right: 3%; width: 40%; 
    top: 20%; opacity: 0; 
    animation: main 0.7s 0.7s ease forwards;
}
@keyframes main {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* content */
.r_content {display: flex;}
.r_content .cont_left {flex: 1 1 50%; margin-top: 13%;}
.cont_left img {left: 0; width: 40vw;}
.r_content .cont_right {flex: 1 1 50%;}
.r_content .cont_right h2 {
    font-family: 'Sulphur Point'; 
    font-size: 7vw; 
    font-weight: bold; 
    color: #5A5757; 
    margin-top: 30vh;
}
.cont_right_tit {margin-left: 9%;}
.cont_right_tit p {font-family: 'GmarketSansLight'; padding-top: 51%; font-size: 1.5vw;}
.btn {margin-top: 8%;}
.r_content .btn a {
    background-color: #5A5757; 
    border-radius: 0.5vw; 
    padding: 0.9vw 1.8vw; 
    margin-top: 6vh; 
    font-size: 1.3vw; 
    font-family: 'Poppins';
}
.btn a:nth-child(1) {margin-left: 0;}

/* footer */
.r_footer {
    position: relative; 
    background-image: url(../img/r_footer.png); 
    background-size: cover; 
    width: 100%; height: 100vh; 
    margin-top: 30vh; z-index: -2;}
.r_footer img {
    position: absolute; 
    left: 0; width: 32vw; 
    bottom: 0%; z-index: -1;
}
.r_footer h1 {
    color: #fff; 
    text-align: right; 
    font-size: 8vw; 
    padding-top: 40vh; 
    font-family: 'Sulphur Point'; 
    line-height: 1;
}
.r_footer a {
    background-image: linear-gradient(to top, rgb(193, 33, 47), rgb(241, 104, 53)); 
    position: absolute; 
    border-radius: 10vw;
    padding: 1.4vw 1.6vw;
    right: 8vw; bottom: 10vh; 
    font-weight: bold; 
}
.r_footer ul {
    display: flex; color: #fff; 
    font-family: 'Poppins'; 
    font-size: 1.3vw; 
    font-weight: bold; 
    margin-top: 20vh;
}
.r_footer ul li {margin-left: 6vw;}
.r_footer ul li:first-child {margin-left: 0%;}
.r_footer ul li:last-child {font-size: 1vw; margin-top: 0.4vh;}

/* vue */
/* header */
.v_header {
    width: 100%; 
    height: 110vh; 
    color: #fff; 
    padding-top: 2vw; 
    background: url(../img/header7.png); 
    background-size: cover;
}
.v_header .top {
    position: relative; 
    display: flex; 
    justify-content: space-between; 
    font-family: 'Poppins';
}
.v_header p {
    color: white;
    font-weight: bold; 
    font-size: 1.5vw;
    transform: scaleY(0);
    animation: viewP 0.7s ease forwards;
}
@keyframes viewP {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.v_header .top a {
    background-image: linear-gradient(to top, rgb(193, 33, 47), rgb(241, 104, 53)); 
    border-radius: 10vw; padding: 0.8vw 2vw; 
    transform: scaleY(0);
    animation: viewA 0.7s 0.3s ease forwards;
}
@keyframes viewA {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.v_header h1 {
    margin-top: 25vh; line-height: 0.8;
    margin-left: 4vw;
    font-size: 9vw; 
    transform: scaleY(0);
    font-family: 'Sulphur Point';
    animation: viewText 0.7s 0.5s ease forwards;
}
@keyframes viewText {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
.v_header h1 span {font-weight: 100; font-size: 7.5vw;}
a.btn {
    position: absolute; 
    padding: 1.3vw 1.5vw; 
    left: 50%; top: 70%; 
    font-weight: bold; 
    border-radius: 50%;
}
.v_header img {
    position: absolute; 
    right: 3%; width: 40%; 
    top: 20%; opacity: 0; 
    animation: main 0.7s 0.7s ease forwards;
}
@keyframes main {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* content */
.v_content {display: flex;}
.v_content .cont_left {flex: 1 1 50%;}
.cont_left img {left: 0; margin-top: 30vh; width: 40vw;}
.v_content .cont_right {flex: 1 1 50%;}
.cont_right h3 {font-family: 'Sulphur Point'; font-size: 6rem; font-weight: bold; text-align: right; padding-top: 12%; color:#FF7E8F;}
.cont_right_tit {margin-left: 9%;}
.cont_right_tit p {font-family: 'GmarketSansLight'; padding-top: 49%; font-size: 1.5vw;}
.btn {margin-top: 8%;}
.v_content .btn a {
    background-color: #FF7E8F; 
    border-radius: 0.5vw; 
    padding: 0.9vw 1.8vw; 
    margin-top: 6vh; 
    font-size: 1.3vw; 
    font-family: 'Poppins';
    margin-left: 2.9vw;
}
.btn a:nth-child(1) {margin-left: 0;}

/* footer */
.v_footer {
    position: relative; 
    background-image: url(../img/v_footer.png); 
    background-size: cover; 
    width: 100%; height: 100vh; 
    margin-top: 30vh; z-index: -2;}
.v_footer img {
    position: absolute; 
    left: 0; width: 32vw; 
    bottom: 0%; z-index: -1;
}
.v_footer h1 {
    color: #fff; 
    text-align: right; 
    font-size: 8vw; 
    padding-top: 40vh; 
    font-family: 'Sulphur Point'; 
    line-height: 1;
}
.v_footer a {
    background-image: linear-gradient(to top, rgb(193, 33, 47), rgb(241, 104, 53)); 
    position: absolute; 
    border-radius: 10vw;
    padding: 1.4vw 1.6vw;
    right: 8vw; bottom: 10vh; 
    font-weight: bold; 
}
.v_footer ul {
    display: flex; color: #fff; 
    font-family: 'Poppins'; 
    font-size: 1.3vw; 
    font-weight: bold; 
    margin-top: 20vh;
}
.v_footer ul li {margin-left: 6vw;}
.v_footer ul li:first-child {margin-left: 0%;}
.v_footer ul li:last-child {font-size: 1vw; margin-top: 0.4vh;}